<!DOCTYPE html>
<html>
<head>
<title>CTF</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class=navbar-inner>
		<div class=container>
			<ul class=nav>
				<a class=brand href="/home"><span style="font-size:20px; font-weight:bold; font-family:Comic Sans MS;"><img style="height:20px" src="https://www.pentasecurity.com/wp/data/cibi/ci_type1_basic.png" alt=""><font color=#f15f5f> Hacker Fight</font> </span></a>
				<li class="divider-vertical"></li>
				<%if signed_in?%>
					<li><a href="/problems">Problems</a></li>
					<li><a href="/ranks">Ranking</a></li>
					<li><a href="/keygen">Key Generator</a></li>
					<% if is_admin? %>
					<li><a href="/admin">Administrator</a></li>
					<% end %>
					<!--[if lte IE 8]><li><a>IE 8 이하에서 정상적으로 작동하지 않습니다.</a></li><![endif]-->
				<%end%>
			</ul>
			<ul class="nav pull-right">
				<%if signed_in?%>
					<li class=dropdown>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%=current_user.name%><b class="caret"></b>
						</a>
						<ul class=dropdown-menu>
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Sign out", signout_path,method: "delete" %></li>
						</ul>
					</li>
				<%end%>
				</ul>

		</div>
		</div>
	</div>
	<div id=doc>
		<div class="container border-basic background-gray">
		<% flash.each do |key, value|%>
			<div class="alert alert-<%= key%>"><%=value%></div>
		<% end%>
		<%= yield %>
		</div>
	</div>

	
	<div class="footer">
		<div class="container">
		Copyright © 2013 <br>
		All rights reserved by Dayeol Lee <br>
		<a href="mailto://dayeolee@gmail.com">dayeolee@gmail.com</a>
		</div>
	</div>
	
</body>
</html>
